body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
label{
    margin:20px;
}
input {
    width: 80%;
    padding: 10px;
    margin:20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button{
    margin:10px;
    width:100px;
    height:40px;
}
.error {
    color: red;
}

.success {
    color: green;
}